footer.footer
  .footer__copyright
    p #[svg(viewBox='0 0 20 16'): path(d='M13 11.5l1.5 1.5 5-5-5-5-1.5 1.5 3.5 3.5z M7 4.5l-1.5-1.5-5 5 5 5 1.5-1.5-3.5-3.5z M10.958 2.352l1.085 0.296-3 11-1.085-0.296 3-11z')] with #[svg(viewBox="0 0 20 16"): path(fill='firebrick' d='M11.8 1c-1.682 0-3.129 1.368-3.799 2.797-0.671-1.429-2.118-2.797-3.8-2.797-2.318 0-4.2 1.882-4.2 4.2 0 4.716 4.758 5.953 8 10.616 3.065-4.634 8-6.050 8-10.616 0-2.319-1.882-4.2-4.2-4.2z')] by therapy | 2017

