-
  var items = [{href: 'https://github.com/therapy', name: 'github'},
    {href: 'https://vk.com/therapyspb', name: 'vk'}]

header.header
  .header__title
    a.title__link(href='/') Ilya Klimov
  .header__description
    p front-end developer
  ul.header__socials
    each item in items
      li.social: a.social__link(href=item.href target='_blank'): i(class='fa fa-' + item.name)