-
  var skills = [{title: 'The basics', list: [{name: 'HTML5', value: 65}, {name: 'CSS3', value: 65}, {name: 'JavaScript (ES6)', value: 65}]},
  {title: 'Frameworks', list: [{name: 'ReactJS', value: 45}, {name: 'AngularJS', value: 10}, {name: 'VueJS', value: 10}]},
  {title: 'Build tools', list: [{name: 'Gulp', value: 70}, {name: 'Webpack', value: 35}]},
  {title: 'Preprocessors', list: [{name: 'Sass', value: 65}, {name: 'Pug', value: 65}]},
  {title: 'SCM', list: [{name: 'Git', value: 65}]}];

main.skills
  h3.skills__title Technical Skills
  each skill in skills
    .skill
      h4.skill__title #{skill.title}
      .skill__labels
        span.skill__level.skill__level--left Novice
        span.skill__level.skill__level--center Competent
        span.skill__level.skill__level--right Proficient
      ul.skill__list
        each item in skill.list
          li.skill__item
            meter.skill__meter(value=item.value min=0 max=100)
            .skill__label #{item.name}
