extends ../_template

block variables
  - var title = 'main'

block content
  main.main
    .main__title main
    p.main__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque velit rerum ad iste in expedita itaque accusantium, laboriosam beatae animi illo. Sed maxime vero ipsam delectus omnis ratione beatae at facilis unde voluptatum architecto nam, a odio? Nihil in reiciendis harum saepe impedit dolores, rerum nulla maiores. Sed accusantium dolore excepturi ipsum natus architecto obcaecati veniam perspiciatis quasi, dicta animi fugit consectetur, repellat accusamus fuga porro maxime similique. At alias id sed ducimus itaque quia dolor amet sunt optio, distinctio minus aperiam, nulla rerum eveniet. Ducimus cum exercitationem nesciunt nulla error, quaerat sequi, non excepturi necessitatibus totam deleniti saepe dolorem.