extends ../_template

block variables
  - var title = 'main'

block content
  main.main
    .main__title main
    p.main__desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus rem quas repellat!