
$aqua: #63A79A;
$aqua-light: #71C4BC;
$orange: #FF8043;
$text: #282828;
$dot: #666565;

//mixins
@import 'common/mixins';
//common
@import 'common/common';
@import 'common/sidebar';
@import 'common/footer';
//pages
@import 'pages/index';
//fonts
@import 'common/fonts';
