* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  position: relative;
  font-family: 'Tahoma Regular', Tahoma, sans-serif;
  font-size: 2vmin;
  color: $text;
  background-color: #e8eaf6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}