* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  overflow: hidden;

  max-height: 100vh;
  margin: 0;

  color: $text;
  background-color: #F4F5F6;

  font-family: 'Roboto', sans-serif;
  font-size: 2vmin;

  font-display: optional;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  &__content {
    position: relative;
    right: -17px;

    overflow-y: auto;
    flex: 1 6 80vw;
    flex-flow: column wrap;

    margin-left: -17px;
    padding: 3vw;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  color: $text;
}
