* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: 'Tahoma Regular', Tahoma, sans-serif;
  font-size: 2vmin;
  color: $text;
  background-color: #e8eaf6;
}

.wrapper {
  max-width: 1000px;
  flex: 1 100vh;
  display: flex;
  flex-flow: column wrap;
  @media screen and (min-width: 1921px) {
    max-width: 1600px;
  }
  &__content {
    flex: 1 85vh;
    display: flex;
    flex-flow: row wrap;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}