.footer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  min-width: 100%;
  &__copyright {
    opacity: .9;

    font-size: .75rem;
    & svg {
      width: .75rem;
      height: .75rem;
    }
  }
}
