@mixin clearfix {
  &:before,
  &:after {
    display: table;

    content: '';
  }
  &:after {
    clear: both;
  }
}

@mixin hover-path($social, $color) {
  &.#{$social}:hover path {
    fill: $color;
  }
}

@mixin phones {
  @media (max-width: 480px) {
    @content;
  }
}
