@mixin clearfix {
  &:before,
  &:after {
    display: table;

    content: '';
  }
  &:after {
    clear: both;
  }
}

@mixin fa-hover($social, $color) {
  &#{$social}:hover {
    &::after {
      background-color: $color;
    }
  }
}

@mixin phones {
  @media (max-width: 480px) {
    @content;
  }
}
