.sidebar {
  z-index: 3;

  display: flex;
  flex: 1 5 20vw;
  flex-flow: column wrap;
  justify-content: space-around;

  padding-left: 2vw;

  font-family: 'Oswald', sans-serif;

  &__profile {
    padding: 1vh;

    font-size: 1.25rem;
    .profile__image {
      position: relative;
      z-index: 9;

      overflow: hidden;

      width: 17vw;
      height: 17vw;
      margin-bottom: 2vw;

      border-radius: 50%;
      box-shadow: -16px 16px 0 8px rgba(0, 0, 0, .05), 16px 16px 0 8px rgba(0, 0, 0, .05), -16px -16px 0 8px rgba(0, 0, 0, .05), 16px -16px 0 8px rgba(0, 0, 0, .05);

      filter: contrast(90%) sepia(20%);
      &::before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';
        pointer-events: none;

        border-radius: 50%;
        background-image: radial-gradient(circle closest-corner, $text 20%, rgba(0, 0, 0, .2));

        mix-blend-mode: overlay;
      }
      &:hover img {
        transform: scale(1.25);
      }
      img {
        position: relative;
        z-index: 1;

        width: 17vw;

        transition: transform .3s ease-in-out;
        transform-origin: 50% 0;
      }
    }
    .profile__description {
      font-size: .75rem;
    }
  }
  &__navigation {
    font-size: 1.25rem;
    .navigation-menu {
      position: relative;

      padding: 1vh;
      &:hover {
        background-color: $hover;
        .navigation-menu__link {
          color: #F4F5F6;
        }
        &::before {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          content: '';
          transform: skewY(-1.5deg);
          transform-origin: top right;

          background-color: $hover;
        }
        &::after {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;

          content: '';
          transform: skewY(1.5deg);
          transform-origin: bottom right;

          background-color: $hover;
        }
      }
    }
  }
  &__social-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    padding: 1vh;

    .social {
      margin-right: 1.5vw;
      margin-bottom: 1.5vw;

      @include hover-path(github, $github);
      @include hover-path(freecodecamp, $freecodecamp);
      @include hover-path(telegram, $telegram);
      @include hover-path(vk, $vk);

      .social__link {
        svg {
          width: 1.5rem;
          height: 1.5rem;

          transition: transform .3s cubic-bezier(.5, -1, .2, 2.5);

          background-color: $bg-color;

          path {
            transition: fill .3s cubic-bezier(.5, -1, .2, 2.5);

            fill: $text;
          }
        }
      }
      &:hover svg {
        transform: scale(1.5);
      }
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}
