.skills {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  &__title {
    flex-basis: 100%;

    margin: 0 auto 1rem;

    text-align: center;

    font-size: 1.5rem;
    font-weight: 400;
  }
  .skill {
    flex: 1 1 100%;

    max-width: 50%;
    margin-bottom: 1rem;
    &__title {
      margin: 0 auto 1rem;

      text-align: center;
      text-transform: uppercase;

      font-size: 1rem;
      font-weight: 400;
    }
    &__labels {
      display: flex;
      justify-content: space-between;

      margin-bottom: 1rem;
    }
    &__level {
      width: 33.33%;

      font-size: .75rem;
      &--center {
        text-align: center;
      }
      &--right {
        text-align: right;
      }
    }
    &__list {
      margin: 0 auto 1rem;
      padding: 0;

      list-style: none;
    }

    &__label {
      margin-bottom: 1rem;

      text-align: center;
    }
    &__meter {
      display: block;

      width: 100%;
      height: 5px;

      background: none;
      background-color: rgba(255, 255, 255, .5);
      &::-webkit-meter-bar {
        background: none;
      }
      &::-moz-meter-bar {
        background: none;
        background-color: #7A99AA;
      }
      &::-webkit-meter-optimum-value {
        background: none;
        background-color: #7A99AA;
      }
    }
  }
}
@media (min-width: 2560px) {
  .skills {
    max-width: 1200px;
  }
}
@media (min-width: 1025px) {
  .skill:nth-of-type(odd) {
    padding-right: 1rem;
  }
  .skill:nth-of-type(even) {
    padding-left: 1rem;
  }
}
@media (max-width: 1024px) {
  .skill {
    max-width: 100% !important;
    margin-bottom: 2rem !important;
  }
}